body {
    margin: 0;
    padding: 0;
}
#root{
    height: 100vh;
    display: flex;
}

.mobileModal {
    width: 340px;
    height: 735px;
    background-color: #1d5648;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.headerImage {
    width: 100%;
    height: auto;
}

.mainFooter {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footerImage {
    width: 100%;
    height: auto;
}

.boardMainContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TableContainer {
    width: auto;
    height: 52%;
    position: relative;
    top: 2%;
}

.tableImage {
    height: 100%;
    width: auto;
    position: relative
}

.avatarsContainer {
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    gap: 2%;
    justify-content: space-evenly;
    transform: translateY(-80%);
}

.EachAvatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AvatarImage {
    width: 120%;
}

.AvatarName {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    line-height: 17px;
    color: white;
}

.AvatarImage span {
    white-space: nowrap;
    overflow: hidden;

}

.AvatarName .name {
    text-overflow: ellipsis;
}
.opencardDeck{
    position: absolute;
    top: 43.5%;
    height: 11%;
    width: 79%;
    left: 50%;
    transform: translateX(-50%);
}
.opencardContainer{
    height: 100%;
    width: 34%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.cardBackimage{    
    height: 70%;
    position: relative;
    top: 4px;
}
.openDeckMain{
    width: 100%;
    height: 100%;
}
#openCard{
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg) translateY(-50%);
    right: 0;
}
.ButtonContainer{
    position: absolute;
    width: 88%;
    padding: 0 6%;
    height: 8%;
    bottom: 5.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scoreTimer, .ButtonList{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 50%;
}
.BtnImages{
    width: 45%;
    height: auto;
    cursor: pointer;
}